<mat-card class="mt-5 mb-5 ms-5 me-5">
  <div class="row ms-5 mt-5 mb-5" [formGroup]="form">
    <div class="col">
      <bam-label>
        <span class="title">The exam center for candidate.</span>
      </bam-label>
      <bam-label class="mt-5">
        <span>
          “You can’t stop the future. You can’t rewind the past.The only way to
          learn the secret s to press play.”
        </span>
      </bam-label>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
        <bam-label [require]="true">
          <span class="name">Candidate Name :</span>
        </bam-label>
        <mat-form-field
        class="w-100 mt-3"
        [appearance]="'outline'">
          <input
          matInput
          placeholder="Enter tour ID here."
          formControlName="name" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          (click)="gotoDev(form.get('name')?.value)"
          mat-raised-button
          color="primary"
          class="mb-3 button">Developer >></button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
        (click)="gotoTest(form.get('name')?.value)"
          mat-raised-button
          color="primary"
          class="button">Tester >></button>
      </div>
    </div>
    <div class="row mt-5">
      <bam-label>
        <span class="font-bold">Download Programmer</span>
      </bam-label>
    </div>
    <div class="row mt-3">
      <bam-label>
        <span>Exam JS TDD (Junior Developer):</span>
      </bam-label>
    </div>
    <div class="row mt-3">
      <bam-label>
        <span class="font-bold">Download</span>
      </bam-label>
    </div>
    <div class="row mt-3">
      <bam-label>
        <span>ClosePackage Lab (Resource for Data Sci):</span>
      </bam-label>
    </div>
    <div class="row mt-3">
      <bam-label>
        <span>Test Website Lab (Resource for Data Sci):</span>
      </bam-label>
    </div>
    <div class="row mt-3">
      <bam-label>
        <span class="font-bold">Exam question (Full Stack Developer):</span>
      </bam-label>
    </div>
  </div>
</mat-card>
