<div class="row ms-3 mt-5 mb-5" [formGroup]="form">
  <div class="row">
    <div class="col">
      {{form.get('no')?.value}}.
      {{form.get('title')?.value}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="assets/svg/mermaid-graph.svg" alt="Mermaid Diagram" style="width: 400px; height: 400px;">
    </div>
  </div>
      <pre>
        <code class="code">{{ form.get('code')?.value }}</code>
      </pre>
  <div class="row">
    <div class="col">
      <markdown [data]="form.get('markdown')?.value"></markdown>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngx-monaco-editor class="editor" [options]="editorOptions" formControlName="answer"></ngx-monaco-editor>
    </div>
  </div>
</div>
