<div class="row ms-3 mt-5 mb-5" [formGroup]="form">
  <div class="row">
    <div class="col">
      {{form.get('no')?.value}}.
      {{form.get('title')?.value}}
    </div>
  </div>
  <div class="row">
    <div class="col mt-2">
      {{form.get('markdown')?.value}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="w-100 mt-5" [appearance]="'outline'">
        <textarea matInput [rows]="3" maxlength="1000" placeholder="Please explain solution here." formControlName="answer"> </textarea>
      </mat-form-field>
    </div>
  </div>
</div>
