<div class="cont_principal cont_error_active">
  <div class="row" style="margin-top: 200px">
    <div class="col"></div>
    <div class="col-lg-8 cont_error">
      <h1>Page not found</h1>
      <p style="width: 80%">
        The page you requested was not found. If you type the URL directly
        please make sure the spelling is correct. If you clicked on a link to
        get here, the link is outdated.
      </p>
      <button
        style="font-size: 24px; padding: 10px; width: 180px"
        mat-raised-button
        color="warn"
        class="btn-acc"
        (click)="back()"
      >
        Go Back
      </button>
    </div>
    <div class="col"></div>
  </div>
  <!--  -->
  <div class="cont_aura_1 d-none d-lg-block"></div>
  <div class="cont_aura_2 d-none d-lg-block"></div>
</div>
